$font-dir: "./fonts/majesti-banner";
@mixin font-face($family, $filename, $folder, $style, $weight){
  @font-face {
    font-family: $family;
    // src: url('#{$folder}/#{$filename}.eot');
    // src: url('#{$folder}/#{$filename}.eot?#iefix') format("embedded-opentype");
    src: url('#{$folder}/#{$filename}.otf') format("opentype");
    // src: url('#{$folder}/#{$filename}.woff') format("woff");
    // src: url('#{$folder}/#{$filename}.ttf') format("truetype");
    // src: url('#{$folder}/#{$filename}.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
    font-style: $style;
    font-weight: $weight;
  }
}

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

@include font-face("Majesti Banner Bold", majesti-banner-bold, $font-dir, "normal", initial);
@include font-face("Majesti Banner Bold Italic", majesti-banner-boldItalic, $font-dir, "italic", initial);
@include font-face("Majesti Banner Book", majesti-banner-book, $font-dir, "normal", normal);
@include font-face("Majesti Banner Book Italic", majesti-banner-bookItalic, $font-dir, "italic", initial);
@include font-face("Majesti Banner Heavy", majesti-banner-heavy, $font-dir, "normal", initial);
@include font-face("Majesti Banner Heavy Italic", majesti-banner-heavyItalic, $font-dir, "italic", initial);
@include font-face("Majesti Banner Light", majesti-banner-light, $font-dir, "normal", initial);
@include font-face("Majesti Banner Light Italic", majesti-banner-lightItalic, $font-dir, "italic", initial);
@include font-face("Majesti Banner Medium", majesti-banner-medium, $font-dir, "normal", initial);
@include font-face("Majesti Banner Medium Italic", majesti-banner-mediumItalic, $font-dir, "italic", initial);
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700&display=swap');
