@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700");
@font-face {
  font-family: "Majesti Banner Bold";
  src: url("./fonts/majesti-banner/majesti-banner-bold.otf") format("opentype");
  font-style: "normal";
  font-weight: initial; }

@font-face {
  font-family: "Majesti Banner Bold Italic";
  src: url("./fonts/majesti-banner/majesti-banner-boldItalic.otf") format("opentype");
  font-style: "italic";
  font-weight: initial; }

@font-face {
  font-family: "Majesti Banner Book";
  src: url("./fonts/majesti-banner/majesti-banner-book.otf") format("opentype");
  font-style: "normal";
  font-weight: normal; }

@font-face {
  font-family: "Majesti Banner Book Italic";
  src: url("./fonts/majesti-banner/majesti-banner-bookItalic.otf") format("opentype");
  font-style: "italic";
  font-weight: initial; }

@font-face {
  font-family: "Majesti Banner Heavy";
  src: url("./fonts/majesti-banner/majesti-banner-heavy.otf") format("opentype");
  font-style: "normal";
  font-weight: initial; }

@font-face {
  font-family: "Majesti Banner Heavy Italic";
  src: url("./fonts/majesti-banner/majesti-banner-heavyItalic.otf") format("opentype");
  font-style: "italic";
  font-weight: initial; }

@font-face {
  font-family: "Majesti Banner Light";
  src: url("./fonts/majesti-banner/majesti-banner-light.otf") format("opentype");
  font-style: "normal";
  font-weight: initial; }

@font-face {
  font-family: "Majesti Banner Light Italic";
  src: url("./fonts/majesti-banner/majesti-banner-lightItalic.otf") format("opentype");
  font-style: "italic";
  font-weight: initial; }

@font-face {
  font-family: "Majesti Banner Medium";
  src: url("./fonts/majesti-banner/majesti-banner-medium.otf") format("opentype");
  font-style: "normal";
  font-weight: initial; }

@font-face {
  font-family: "Majesti Banner Medium Italic";
  src: url("./fonts/majesti-banner/majesti-banner-mediumItalic.otf") format("opentype");
  font-style: "italic";
  font-weight: initial; }
