@import url("fontface.scss");
body {
  font-family: "Majesti Banner Light";
  margin: 0;
  background-color: #faebd7; }

.container {
  position: relative;
  bottom: 0;
  margin: 0 5px 5px 5px; }

.left {
  float: left; }

.right {
  float: right; }

.wedding-couple-names .logo {
  width: 150px;
  height: 120px;
  content: url(../logo.png); }

.wedding-couple-names .main-name {
  height: 120px;
  vertical-align: middle;
  text-align: center; }

.wedding-couple-names .floatLeft {
  float: left; }

.wedding-couple-names .floatRight {
  float: right; }

.responsive {
  max-width: 100%;
  height: auto; }
