// import "fontface.scss";
$font-dir: "styles/fonts/";
@font-face {
    font-family: "Majesti Banner Bold";
    /* src: url("fonts/Majesti-Banner/Harabara.eot"); */
    src: 
    /* url("fonts/Majesti-Banner/Harabara.woff") format("woff"), */
    url("./fonts/Majesti-Banner/Majesti-Banner-Bold.otf") format("opentype"),
    /* url("fonts/Harabara.svg#filename") format("svg"); */
    }
@font-face {
    font-family: "Majesti Banner Bold Italic";
    src: 
    url("./fonts/Majesti-Banner/Majesti-Banner-BoldItalic.otf") format("opentype"),
    }   
@font-face {
    font-family: "Majesti Banner Book";
    src: 
    url("./fonts/Majesti-Banner/Majesti-Banner-Book.otf") format("opentype"),
    }   
@font-face {
    font-family: "Majesti Banner Book Italic";
    src: 
    url("./fonts/Majesti-Banner/Majesti-Banner-BookItalic.otf") format("opentype"),
    }   
@font-face {
    font-family: "Majesti Banner Heavy";
    src: 
    url("./fonts/Majesti-Banner/Majesti-Banner-Heavy.otf") format("opentype"),
    }   
@font-face {
    font-family: "Majesti Banner Heavy Italic";
    src: 
    url("./fonts/Majesti-Banner/Majesti-Banner-HeavyItalic.otf") format("opentype"),
    }   
@font-face {
    font-family: "Majesti Banner Light";
    src: 
    url("./fonts/Majesti-Banner/Majesti-Banner-Light.otf") format("opentype"),
    }                         
@font-face {
    font-family: "Majesti Banner Light Italic";
    src: 
    url("./fonts/Majesti-Banner/Majesti-Banner-LightItalic.otf") format("opentype"),
    }                         
@font-face {
    font-family: "Majesti Banner Medium";
    src: 
    url("./fonts/Majesti-Banner/Majesti-Banner-Medium.otf") format("opentype"),
    }  
@font-face {
    font-family: "Majesti Banner Medium Italic";
    src: 
    url("./fonts/Majesti-Banner/Majesti-Banner-MediumItalic.otf") format("opentype"),
    }                                                
@font-face {
  font-family: "Roboto";
  src: url("#{$font-dir}Roboto-Regular.woff2") format("woff2"),
	url("#{$font-dir}Roboto-Regular.woff") format("woff"),
	url("#{$font-dir}Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.body {
    font-family: "Majesti Banner Light";
}
.container {
    position:relative;
    bottom:0;
    margin: 0 5px 5px 5px;
}
.left{
    float: left;
}
.right{
    float: right;
}

.wedding-couple-names{
    .logo {
        width: 150px;
        height: 120px;
        content: url(logo.jpg);
    }
    
    .main-name {
        height: 120px;
        vertical-align: middle;
        text-align: center; 
    }
    
    .floatLeft { float: left; }
    
    .floatRight { float: right; }
    
}